<div class="main-content">
  <div
    class="input-container">
    <input
      type="text"
      class="b-inputtext"
      name="Add toDo"
      value=""
      id="todo-input"
      placeholder="Enter To do"
      required
      autocomplete="off"
      #todoInput>
    <label
      class="visually-hidden"
      for="todo-input"
      id="lbl-to-do">
      Enter to do
    </label>

    <select
      class="priority-options"
      #priorityOption
    >
      <option
        *ngFor="let priority of typesOfPriority">
        {{priority}}
      </option>
    </select>
    <button (click)="addToDoList({
      name: todoInput.value,
      priority: priorityOption.value
    })">
      Add
    </button>
  </div>

  <button
  class="btn-delete"
  *ngIf="toDolist.length"
  [disabled]="!uniqueSelected.length || !toDolist.length"
  (click)="deleteSelected($event)">
  Delete selected
  </button>

  <app-to-do-list
    (removeItem)="removeToDoFromList($event)"
    (editedItem)="editItemFromList($event)"
    (selectedItem)="getSelectedItem($event)"
    [toDolist]=toDolist>
  </app-to-do-list>
</div>
