.main-content {
  display: flex;
  flex-direction: column;
  justify-content: spa;
  margin-top: 2rem;
  width: 700px;
  height: 100%;
  margin: 0 auto;
  border: 1px solid #000;
  padding: 10px;
  }
  
  .input-container {
  display: flex;
  margin: 10px 0;
  }
  

  .b-inputtext {
  flex: 3;
  }
  .priority-options , .add-to-do {
  flex: 1;
  }
  
  .visually-hidden {
  position: absolute !important;
  clip: rect(0 0 0 0) !important;
  border: 0 !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  width: 1px !important;
  white-space: nowrap !important;
  }
  
  button {
  color: #fff;
  background-color: #177bb5;
  border-color: transparent;
  box-shadow: 0 2px 0 #1c639c;
  min-height: 2rem;
  min-width: 4rem;
  }

  .btn-delete {
    margin: 10px 0;
    max-width: 10rem;
  }
  
  .priority-options {
  min-height: 2rem;
  margin: 0px 1rem;
  }